/*Autor: Francisco Jimenez lopez*/
        h1{color:blanchedalmond;
        text-align: center;}
        p {color: aquamarine;}
        body{background-color: black;
            color:white;}
        h2{color: rgb(218, 255, 96);}
        #encabezado1{text-align: right;}
        #parrafo2,#parrafo4{text-align: center;}

